.main-head {
	width: 95%;
	margin: 0 0 0 auto;
}

nav {
	@include flex(space-between, center, row);
	min-height: 10vh;
	width: 60%;
	flex-wrap: wrap;
	.logo {
		@include flex(flex-start, center, row);
		flex: 1 1 10rem;
		h1 {
			margin: 2rem;
			font-size: 1.5rem;
			font-weight: 400;
			color: #2c2c2c;
		}
		img {
			height: 4rem;
		}
	}
	ul {
		@include flex(space-around, center, row);
		flex: 1 1 40rem;
	}
}

.intro {
	min-height: 90vh;
	width: 90%;
	margin: auto;
	flex-wrap: wrap;
	@include flex(space-between, center, row);

	h2 {
		font-size: 4.5rem;
		padding-top: 2rem;
		// background: $gradient;
		// background-clip: text;
		// -webkit-text-fill-color: transparent;
		display: inline-block;
	}

	h3 {
		font-size: 3rem;
		padding: 1rem 0rem;
		color: #807e7e;
	}

	p {
		padding-top: 2rem;
		color: $gray-text;
	}
}

.splash {
	position: absolute;
	top: 0%;
	right: 0%;
	height: 100%;
	z-index: -1;
}

.intro-social {
	margin-top: 1rem;
}

.footer {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	height: 100px;
	color: rgba(0, 0, 0, 0.3);

	.footer-links {
		display: flex;
		align-items: center;
	}

	.footer-links a {
		color: black;
		opacity: 0.25;
		text-decoration: none;
		font-size: 28px;
	}

	.footer-links a:not(:first-child) {
		padding: 0 10px;
	}

	.footer-links a:first-child {
		padding: 0 10px 0 0;
	}

	.footer-links a:hover {
		opacity: 1;
	}
}

.active {
	color: $gray-text;
	border-bottom: 2px solid $gray-text;
}

.intro-text,
.intro-images {
	flex: 1 1 40rem;
}

#plant-left {
	animation: plant 2.5s ease infinite alternate;
}

#plant-right {
	animation: plant 2.5s ease infinite alternate 0.7s;
}

#me {
	animation: me 2.5s ease infinite alternate;
	transform-origin: bottom;
}

// #clock-arrow {
// 	animation: clock 1.5s infinite linear;
// 	transform-box: fill-box;
// 	transform-origin: bottom;
// }

@keyframes me {
	from {
		transform: rotateZ(-2.5deg);
	}
	to {
		transform: rotateZ(2.5deg);
	}
}

@keyframes plant {
	from {
		transform: translateY(0%);
	}
	to {
		transform: translateY(-30%);
	}
}

// @keyframes clock {
// 	from {
// 		transform: rotateZ(0deg);
// 	}
// 	to {
// 		transform: rotateZ(360deg);
// 	}
// }
